@()

@main("Scala Test - URL Titles") {
    <div id="app" class="container text-center">
        <form v-on:submit.prevent class="form form-group">
            <div class="row">
                <p>Submit a URL to display its page title</p>
                <label for="url" class="sr-only">Email address</label>
                <input v-model="url" ref="url" type="url" class="form-control" placeholder="URL" required autofocus>
            </div>

            <div class="row mt-3">
                <div class="app-button-container col-3 align-top">
                    <button v-on:click="updateUrlTitle" class="btn btn-md btn-primary" type="submit">Get Title</button>
                    <button v-on:click="initUrl" class="btn btn-sm btn-secondary mt-2" type="submit">Clear</button>
                </div>
                <div class="col-9">
                    <p v-bind:class="getUrlTitleStateClasses" class="text-left">{{ urlTitle }}</p>
                </div>
            </div>
        </form>
    </div>
}
